.home {

  header {
    .flex(row, space-between);
    align-items: center;
    padding: 30px 0;
    border-bottom: 2px dashed grey;

    @media @mobile {
      .flex(column, space-evenly);
      padding: 15px 0;
    }
  }

  .upper-section {
    border-bottom: 2px dashed grey;

    div {
      padding: 10px 0;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }

    .text-content, .img-content {
      @media @mobile {
        width: 100%;
      }
    }

    @media @mobile {
      .flex(column, space-between);
      flex-wrap: nowrap;
      align-items: center;
    }
  } //content-section

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }

    h2 {
      padding-top: 10px;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }

    @media @mobile {
      width: 100%;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      .flex(column, space-between);
      align-items: center;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        width: 80%;
      }
    }

    .btn {
      .button(teal);

      @media @mobile {
        .button(#17A2B8);
        width: 90%;
      }
    }

  }
}// home